.Header__list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  column-gap: 2.5rem;
  margin: 0 auto;
  padding: 2rem;
  justify-content: center;
}

.Header__list > li > a
{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
}

.Header__info {
  display: flex;
  justify-content: end;
  padding-right: 2rem;
  padding-top: 0.7rem;
}
.Header__info > span
{
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(85 26 139);
}
.Header__info > a
{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(85 26 139);
}